<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/"><i class="icon-instagram  icon-4x" style="color: white;"></i></a>&nbsp;
    <a class="navbar-brand" href="/">Oustagram</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{%url 'index'%}"><strong>Home <i class="icon-home"></i></strong><span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'profile'%}"><strong>Profile <i class="icon-user"></i></strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'logout'%}"><strong>Log Out <i class="icon-off"></i></strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'upload' %}"><strong>Upload Post <i
                            class="icon-upload"></i></strong></a>
            </li>
        </ul>
        {% else %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class='btn btn-default' href="{%url 'login'%}" style="color: white;"><strong>Login <i
                            class="icon-signin"></i></strong></a>
            </li>
            <li class="nav-item">
                <a class='btn btn-default' href="{%url 'register'%}" style="color: white;"><strong>Register <i
                            class="icon-edit"></i></strong></a>
            </li>
        </ul>
        {% endif %}
        <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results' %}">
            <input class="form-control mr-sm-2" type="text" placeholder="Search user" name="profile">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>