{%extends 'base.html'%}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="content-section">
        <div class="media">
            <div class="media-header">
                <img class="rounded-circle account-img" width="125px" height="125px"
                    src="{{user.profile.profile_pic.url}}">
            </div>
            &nbsp;&nbsp;&nbsp;
            <div class="media-body">
                <h2 class="account-heading">{{user.username}}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
            <br>
            <div class="card-body">
                <p><strong>User Bio</strong></p>
                <article>{{ user.profile.bio }}</article>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
        {% for post in posts %}
        <img src="{{post.image.url}}">
        {% endfor%}
    </div>
</div>

{% endblock %}